/* submit button */
.zl-submit-file {
	width: 100px;
	position: absolute;
  left: 0px;
  background-color:rgba(33, 33, 33, 0.9);
  margin-left:  calc(~"50% - 50px");
	padding:6px;
	font-size: 1.1rem;
	cursor:pointer;
}

/* progress container style*/
.progress-container{
	height:80px;
	overflow-y: auto;
	font-size: 1rem;
}
.progress-average-container{
	position:relative;
	height:30px;
	width:100%;
	font-size: 1.3rem;
}

/* progressbar style */
.progress-bar {
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  border-color: rgba(182, 182, 182, 0.6); 
  position:relative;
  height: 20px;
  margin: 5px;
}
.average-progress-bar{
  height: 30px;
  .progress-bar-bar .progress-state{
		margin:0px;
	  line-height: 30px;
  }
}

.progress-bar-bar {
  width: 0px;
  background-color: rgba(182, 182, 182, 0.6);
  height: 100%;
  position: absolute;
  top: 0px;
  .progress-state {
		margin:0px;
	  line-height: 20px;
	}
}

zl-cancel-button,zl-retry-button{
	position:absolute;
	right:0px;
	top:0px;
}


/* custom input file */
.custom-input-file{
	width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.custom-input-file + label{
	cursor: pointer;
	color:#212121;
}


/* container style */
.div-file-container {
	position:relative;
	background: #F5F5F5;
	background-image: url(~'data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" fill="#B6B6B6" fill-opacity="0.3" viewBox="0 0 512 512"><path d="M0 448h512v32h-512zM512 384v32h-512v-32l64-128h128v64h128v-64h128zM112 160l144-144 144 144h-112v128h-64v-128z"></path></svg>');
  background-repeat: no-repeat;
  background-position: center;
  color:#B6B6B6;
  font-size: 1.3rem;
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
  text-align: center;
  padding: 24px;
	height: 160px;
	border: #B6B6B6 1px solid;

		&.drop-div {
	  outline: 2px dashed #B6B6B6;
	  outline-offset: -10px;
	  -webkit-transition: outline-offset .30s ease-in-out, background-color .30s linear;
	  transition: outline-offset .30s ease-in-out, background-color .30s linear;
		}
		&.dragover {
	  outline-color: #7F7F7F;
	  background-color:#E5E5E5;
		}
		p{
			margin: 10px 0px 10px 0px;
			font-size:1rem;
		}		
		.cancel-upload-button{
			background-color:rgba(255, 82, 82, 0.9);
		}		
		.retry-upload-button{
			background-color:rgba(33, 33, 33, 0.9);
		}
		strong{
			font-size:1.2rem;
		}
		button {
	  	color:#F5F5F5;
			box-shadow:0 1px 1px rgba(0,0,0,0.13),0 1px 1px rgba(0,0,0,0.16);
			border:none;
			text-transform: uppercase;
			font-size: 1rem;
		}
}



